# Public type declarations and original attribute memberships only.
type mzkv_block_device, dev_type;
type mzkv_kernel_device, dev_type;
type mzkv_server, coredomain, domain, mlstrustedsubject, netdomain;
type mzkv_socket, coredomain_socket, file_type;
type proc_mz_info, fs_type, proc_type;
type qsguard, coredomain, domain, mlstrustedsubject;
type vendor_afp_prop, property_type, system_property_type, system_public_property_type;
type vendor_bt_prop, property_type, system_property_type, system_restricted_property_type;
type vendor_dataservice_app, appdomain, coredomain, domain, mlstrustedsubject, netdomain;
type vendor_dpmd, coredomain, domain, mlstrustedsubject, netdomain;
type vendor_dpmtcm_socket, coredomain_socket, file_type, mlstrustedobject;
type vendor_dun-server, bluetoothdomain, coredomain, domain;
type vendor_elabel_data_file, core_data_file_type, data_file_type, file_type;
type vendor_fm_app, appdomain, coredomain, domain, halclientdomain, vendor_hal_btconfigstore_client, vendor_hal_fm_client, vendor_hal_perf_client, vendor_hal_qspmhal_client;
type vendor_hal_atfwd_hwservice, coredomain_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_hal_displayconfig_service, hal_service_type, protected_service, service_manager_type;
type vendor_hal_telephony_service, hal_service_type, protected_service, service_manager_type;
type vendor_location_app, appdomain, coredomain, domain, halclientdomain, netdomain;
type vendor_mm_parser_prop, property_type, system_property_type, system_public_property_type;
type vendor_mmi_sys, coredomain, domain, halclientdomain;
type vendor_perfservice, binderservicedomain, coredomain, domain;
type vendor_persist_dpm_prop, property_type, system_property_type, system_public_property_type;
type vendor_persist_rcs_prop, property_type, system_property_type, system_public_property_type;
type vendor_persist_tcm_prop, property_type, system_property_type, system_public_property_type;
type vendor_qcc_app, appdomain, coredomain, domain, halclientdomain, netdomain, vendor_qccsyshal_client;
type vendor_qcc_authmgr_app, appdomain, coredomain, domain, halclientdomain, vendor_hal_perf_client, vendor_hal_qccvndhal_client;
type vendor_qcc_lmtp_app, coredomain, domain;
type vendor_qcc_netstat_app, appdomain, coredomain, domain, halclientdomain, netdomain, vendor_hal_perf_client, vendor_hal_qccvndhal_client;
type vendor_qcc_trd, domain, halclientdomain, vendor_qccsyshal_client;
type vendor_qcc_utils_app, appdomain, coredomain, domain, mlstrustedsubject, netdomain;
type vendor_qccsyshal_hwservice, coredomain_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_qesdk_service, service_manager_type;
type vendor_qspmsvc, binderservicedomain, coredomain, domain, halclientdomain;
type vendor_qtelephony, appdomain, coredomain, domain, halclientdomain, netdomain;
type vendor_qvirtmgr, domain;
type vendor_qvrd, domain;
type vendor_seempd, coredomain, domain, mlstrustedsubject;
type vendor_seempdw_socket, coredomain_socket, file_type, mlstrustedobject;
type vendor_sigmahal_hwservice, hwservice_manager_type, protected_hwservice;
type vendor_smcinvoke_device, dev_type;
type vendor_sys_video_prop, property_type, system_property_type, system_public_property_type;
type vendor_usta_app_service, app_api_service, service_manager_type, system_api_service;
type vendor_vpsservice, binderservicedomain, coredomain, domain, halclientdomain;
type vendor_wfd_app, appdomain, coredomain, domain, netdomain;
type vendor_wfdservice, coredomain, domain, halclientdomain, netdomain;
type vendor_wlc_prop, property_type, system_property_type, system_restricted_property_type;
type vendor_wlc_public_prop, property_type, system_property_type, system_public_property_type;
